/* Global styles */
:root {
    --pri-orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --lt-grey: hsl(217, 12%, 63%);
    --md-grey: hsl(216, 12%, 54%);
    --dk-blue: hsl(213, 19%, 18%);
    --v-dk-blue: hsl(216, 12%, 8%);
}

body, h1, h2, h3, h4, h5, h6, p,
dl dd, blockquote, figure {
    margin: 0;
}

html {
    font-family: 'Overpass';
}

body {
    background-color: var(--v-dk-blue);
}

p {
    font-size: 0.938rem;
}

.disabled {
    display: none !important;
}

/* Mobile styles */
.card {
    display: flex;
    flex-direction: column;
    min-height: 18.75rem;
    max-width: 20rem;
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: .75rem;
    gap: 1rem;
    background-image: linear-gradient(to bottom, var(--dk-blue), hsl(206, 23%, 12%));
}

.star {
    width: .875rem;
    height: auto;
}

.title {
    color: var(--white);
}

.body {
    font-size: .875rem;
    line-height: 1.4;
    color: var(--lt-grey);
}

.rating-form {
    display: inherit;
    flex-direction: inherit;
    gap: 1rem;
}

.rating-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.circle {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    background-color: hsla(0, 0%, 100%, 0.053);
    font-size: .875rem;
    color: var(--lt-grey);
}

.rating-selector {
    cursor: pointer;
}

.rating-selector:hover {
    background-color: var(--pri-orange);
    color: var(--white);
}


.selected {
    background-color: var(--lt-grey);
    color: var(--white);
}

.primary-btn {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10rem;

    background-color: var(--pri-orange);
    color: var(--white);
    padding: .875rem;

    font-family: 'Overpass';
    text-transform: uppercase;
    font-weight: 400;
    font-size: .875rem;
    letter-spacing: 2px;
}

.primary-btn:hover {
    background-color: var(--white);
    color: var(--pri-orange);
}

.thanks-illustration {
    height: 6.25rem;
    margin-bottom: .25rem;
}

.card.thanks-state {
    align-items: center;
    justify-content: center;
}

.user-rating {
    display: inline-block;
    text-align: center;
    padding: .25rem .75rem;
    border-radius: 10rem;
    background-color: hsla(0, 0%, 100%, 0.053);
    color: var(--pri-orange);
    margin-bottom: .5rem;
}

.body.thanks-body {
    text-align: center;
}


